*{
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  padding: 0;
  margin:0;
}
body {
  background-color: white;
}
button{
  cursor:pointer
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
